html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  background-color: $white;
  color: $black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

label.visually-hidden:active {
  display: none;
}

.btn {
  display: flex;
  margin: 0;
  padding: 20px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  align-items: top;
  justify-content: center;
  text-align: center;
  color: #263b82;
  text-decoration: none;
  background: transparent;
  border: 3px solid #123885;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover,
  &:focus {
    color: #f0f2f9;

    background-color: #263b82;
    border-color: #263b82;
  }
}

@media (min-width: $desktop-width) {
  .btn {
    padding: 16px 32px 18px 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}
