@mixin page-title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
}

@mixin section-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
}

@mixin font-text {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

@mixin container {
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

@mixin desktop-width {
  max-width: 1150px;
  margin: 0 auto;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
