$desktop-width: 780px;
$mobile-width-only: 779px;

$white: #ffffff;
$black: #000000;
$very-light-gray: #d2d2d2;
$blue: #263b82;
$yellow: #fbf239;
$light-gray: #f0f2f9;
$gray: #d8dbe6;
$dark-blue: #002672;
$bright-blue: #123885;
